.posicao{
	height: 50px; 
	width: 60px;
	background-color: #40E0D0; 
}

#gameStatus{
	text-decoration-color: #ffff00;
	display: block;
	padding: auto;
}

body{
	background-image: url('../images/backgroundImage.jpg');
	background-size: 100%;
	background-position: 0px 0px;
}

#jogo{
	width: 36%;
	margin: auto;
	margin-top: 5%;
	min-width: 500px;
}

#placeBomb{
	margin-left: 32%; 
	background-color: #4bf0D0; 
	height: 50px; 
	width: 200px;
}

0